.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-MessageBar {
  width: 100%;
  horiz-align: center;
  position: fixed;
  bottom: 0;
  padding: 5px;
  display: flex;
}

.App-MessageList {
  padding-bottom: 50px;
}

.App-MessageBox {
  background-color: aliceblue;
}

.App-Message {
  background-color: aliceblue;
  padding: 10px
}

input, label, Button {
  margin-left: 8px
}

li {
  list-style-type: none;
}

@media all {
  .App-MessageBox { flex: 13 0; }
  .App-SendButton { flex: 1 auto; }
}